#pragma code_page(65001)

STRINGTABLE
BEGIN
    IDS_APP_TITLE       "安卓 ADB 日志查看器"
    IDS_BUTTON_START    "开始"
    IDS_BUTTON_STOP     "停止采集"
    IDS_BUTTON_CLEAR    "清空"
    IDS_BUTTON_PAUSE    "暂停显示"
    IDS_BUTTON_RESUME   "继续显示"
    IDS_BUTTON_EXPORT   "导出"
    IDS_HINT_KEYWORD    "关键词过滤"
    IDS_HINT_TAG        "Tag 过滤"
    IDS_HINT_PID        "PID 过滤"
    IDS_HINT_DEVICE     "设备选择"
    IDS_HINT_ADB_FILTER "ADB 侧过滤，例如 *:I MyTag:D"
    IDS_DEVICE_AUTO     "自动选择设备"
    IDS_LEVEL_ALL       "全部级别"
    IDS_LEVEL_VERBOSE   "Verbose+"
    IDS_LEVEL_DEBUG     "Debug+"
    IDS_LEVEL_INFO      "Info+"
    IDS_LEVEL_WARN      "Warn+"
    IDS_LEVEL_ERROR     "Error+"
    IDS_LEVEL_FATAL     "Fatal"
    IDS_COLUMN_TIME     "时间"
    IDS_COLUMN_LEVEL    "级别"
    IDS_COLUMN_PID      "PID"
    IDS_COLUMN_TAG      "Tag"
    IDS_COLUMN_MESSAGE  "日志内容"
    IDS_STATUS_READY    "就绪"
    IDS_STATUS_STARTING "正在启动 ADB 日志采集"
    IDS_STATUS_STOPPED  "已停止"
    IDS_STATUS_CLEARED  "日志已清空"
    IDS_STATUS_PAUSED   "已暂停接收"
    IDS_STATUS_EXPORTED "日志已导出"
    IDS_DEVICE_ADD      "Add device..."
END
